:root {
    /* Primary Color*/
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateCyan: hsl(168, 34%, 41%);

    /* Neutral Color*/
    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    /* Transition */
    --transition: all .2s ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    line-height: 1.3;
    color: var(--darkGrayishBlue);
}

a,
a:visited,
a:link {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkGrayishBlue);
    outline: 1px solid var(--veryDarkGrayishBlue);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Flex */
.flex {
    display: flex;
}

.flex--jc--sb {
    justify-content: space-between;
}

.flex--jc--c {
    justify-content: center;
}

.flex--ai--c {
    align-items: center;
}

.flex--fd--rr {
    flex-direction: row-reverse;
}

/* HEADER SECTION */
.header {
    background: url('../images/mobile/image-header.jpg') top/cover no-repeat;
    min-height: 100vh;
    position: relative
}

.header__head {
    padding-top: 6rem;
}

.header__heading {
    font-size: 3.8rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .7rem;
    line-height: 1.5;
    color: var(--white);
}

.nav {
    font-size: 1.4rem;
    padding: 2.5rem 1.9rem;
}

.logo__img {
    width: 9.8rem;
    height: 2rem;
}

.hamburger {
    cursor: pointer;
}

.menu__link {
    color: var(--white);
}

.menu__link:not(:last-child) {
    margin-right: 4.8rem;
}

.menu__link--white,
.mobile-menu__link--yellow {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5rem;

    transition: var(--transition);
}

.menu__link--white {
    color: var(--darkBlue);
    background-color: var(--white);
    padding: 1.8rem 3.2rem;
}

.menu__link--white:hover {
    background-color: rgba(255, 255, 255, .3);
    color: var(--white);
}

.mobile-menu {
    background-color: var(--white);
    padding-top: 3rem;
    width: 90%;
    position: fixed;
    top: 0;
    left: 50%;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, 20%);
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 0 100%, 0 0);

    transition: var(--transition);
}

.mobile-menu.show {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, 30%);
    clip-path: polygon(90% 10%, 100% 0, 100% 100%, 0 100%, 0 10%);
}

.mobile-menu__link,
.mobile-menu__link--yellow {
    text-align: center;
    display: block;
    margin-top: 3rem;
    color: inherit;
}

.mobile-menu__link--yellow {
    font-size: 1.4rem;
    padding: 1.8rem 2.4rem;
    margin: 3rem 10rem;
    color: var(--veryDarkDesaturatedBlue);
    background-color: var(--yellow);
}

.arrow-down:visited,
.arrow-down:link {
    padding-top: 4.5rem;
    cursor: pointer;

    animation: scale 1s ease-in-out infinite
}

@keyframes scale {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}

/* CONTENT SECTION */
.content {
    flex-direction: column;
}

.content__img,
.content-second__img {
    display: block;
    max-width: 100%;
}

.dekstop-content-second__img {
    display: none;
}

.content__text {
    padding: 5.5rem 2.7rem;
    flex-direction: column;
    text-align: center;
}

.content__heading,
.content__more {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--veryDarkDesaturatedBlue);
}

.content__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.content__paragraph {
    margin-bottom: 3rem;
    line-height: 1.6;
}

.content__more {
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
}

.content__more::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1rem;
    width: 110%;
    height: 0;
    z-index: -1;
    transform: scaleY(0) translateX(-5%);
    transform-origin: bottom;

    transition: var(--transition);
}

.content__more--yellow::before {
    background-color: var(--yellow);
}

.content__more--red::before {
    background-color: var(--softRed);
}

.content__more:hover::before {
    height: 100%;
    transform: scaleY(.5) translateX(-5%);
}

/* SECOND CONTENT SECTION */
.content-second {
    position: relative;
}

.content-second__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-second__text--cyan {
    color: var(--darkDesaturatedCyan);
}

.content-second__text--blue {
    color: var(--darkBlue);
}

.content-second__heading {
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    margin-bottom: 2.8rem;
}

.content-second__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0 2rem;
    margin-bottom: 5rem;
}

/* TESTIMONIALS SECTION */
.testimonials {
    padding: 5.2rem 4rem;
}

.testimonials__heading,
.testimonials__name {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.testimonials__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .4rem;
    color: var(--grayishBlue);
    margin-bottom: 5.2rem;
}

.testimonials__wrapper {
    flex-direction: column;
}

.testimonials__client {
    text-align: center;
    flex-direction: column;
}

.testimonials__client:not(:last-child) {
    margin-bottom: 5.5rem;
}

.testimonials__img {
    width: 6rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.testimonials__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 3rem;
}

.testimonials__name {
    font-size: 1.7rem;
    color: var(--veryDarkDesaturatedBlue);
    margin-bottom: 1.2rem;
}

.testimonials__job {
    font-size: 1.4rem;
    color: var(--grayishBlue);
}

/* GALLERY SECTION */
.gallery {
    flex-wrap: wrap
}

.gallery__img {
    display: block;
    width: 50%;
}

.desktop-gallery__img {
    display: none;
}

/* FOOTER SECTION */
.footer {
    background-color: #90d4c5;
    flex-direction: column;
    padding: 4.8rem 3rem;
}

.footer-logo {
    filter: invert(50%) sepia(64%) saturate(325%) hue-rotate(118deg) brightness(67%) contrast(100%);
    margin-bottom: 3.2rem;
}

.footer-logo__img {
    height: 2.8rem;
}

.footer-menu {
    margin-bottom: 7rem;
}

.footer-menu__link {
    color: var(--darkModerateCyan);

    transition: var(--transition);
}

.footer-menu__link:not(:last-child) {
    margin-right: 4.4rem;
}

.footer-menu__link:hover {
    color: var(--white);
}

.social-media__link:not(:last-child) {
    margin-right: 2rem;
}

.social-media__item {
    width: 1.8rem;
    height: 1.8rem;
    fill: #2C7566;

    transition: var(--transition);
}

.social-media__item:hover {
    fill: var(--white);
}

/* RESPONSIVE SECTION */
@media screen and (max-width : 23.4375em) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width : 39.9375em) {
    .menu {
        display: none;
    }
}

@media screen and (min-width : 40em) {
    html {
        font-size: 31.25%;
    }

    /* HEADER SECTION */
    .logo .logo__img {
        width: 16.7rem;
        height: 3.3rem;
    }

    .hamburger {
        display: none;
    }

    .nav {
        padding: 4.5rem 3.9rem;
    }

    .header {
        background: url('../images/desktop/image-header.jpg') top/cover no-repeat;
    }

    .header__head {
        padding: 4.5rem;
    }

    .header__heading {
        font-size: 5rem;
    }

    .arrow-down {
        padding-top: 9.5rem;
    }

    /* CONTENT SECTION */
    .content__split {
        display: flex;
    }

    .content__img {
        flex: 1;
    }

    .content__text {
        text-align: left;
        flex: 0 0 50%;
        padding: 0 12rem 0;
    }

    .content__heading {
        font-size: 4rem;
        margin-bottom: 3.8rem;
        align-self: flex-start;
    }

    .content__paragraph {
        line-height: 1.8;
    }

    .content__more {
        align-self: flex-start;
    }

    .content-second__img {
        display: none;
    }

    .dekstop-content-second__img {
        display: block;
    }

    .content-second__heading {
        font-size: 3.4rem;
    }

    .content-second__paragraph {
        padding: 0 13rem;
    }

    /* TESTIMONIALS SECTION */
    .testimonials {
        padding: 16rem 16.8rem;
    }

    .testimonials__wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .testimonials__client {
        margin: 0 1.4rem;
    }

    .testimonials__client:not(:last-child) {
        margin-bottom: 0;
    }

    .testimonials__heading {
        font-size: 1.8rem;
    }

    .testimonials__paragraph {
        margin-bottom: 6rem;
    }

    /* GALLERY SECTION */
    .gallery {
        flex-wrap: nowrap
    }

    .gallery__img {
        display: none;
    }

    .desktop-gallery__img {
        display: block;
        width: 25%;
    }

    /* FOOTER SECTION */
    .footer-menu__link {
        font-size: 1.8rem;
    }

    .social-media__item {
        width: 1.8rem;
    }
}

@media screen and (min-width : 64em) {
    html {
        font-size: 56.25%;
    }

    .nav {
        font-size: 1.777rem;
    }

    .content-second__paragraph {
        padding: 0 12rem;
    }
}

@media screen and (min-width : 90em) {
    html {
        font-size: 75%;
    }

    .content__split {
        display: flex;
    }

    .content__img {
        width: 50vw;
    }

    .content-second {
        width: 50vw;
    }

    .content-second__img {
        width: 50vw;
    }
}

@media screen and (min-width: 120em) {
    html {
        font-size: 87.5%;
    }

    .content-second__paragraph {
        padding: 0 16rem;
    }
}
